
html {
    /*color: #222;*/
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


html{background-size: 400% 400%;
}

body{background-color: #212121;
    margin: 0px auto;

}

/*.container{
    position: relative;
    width: 40%;
    padding-right: 0px;
    padding-left: 0px;
    margin: .5em auto;
    box-sizing: border-box;
}*/

.chart{
    position: relative;
    width: 100%;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
    margin: .5em auto;
    box-sizing: border-box;
} 

#header-image{
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#main{
    width: 100%;
    text-align: center;
}

h1 {
    font-family: poynter-oldstyle-display, serif;
    font-weight: 700;
    color: white;
    font-size: 3em;
}

h2 {
    font-family: poynter-oldstyle-display, serif;
    font-weight: 700;
    font-size:2em;
    color: white;
}

h3 {
    font-size:1.5em;
    color: white;
}

p {
    font-family: 'future-pt', sans-serif;
    font-size: 1.0em;
    color: white;
}

img{
    width: 90%;
}

.content-title{
    width: 100%;
    height: 20%;
}

.external-links{
    font-family: questa-sans, sans-serif;
    color: white;
    float: left;
}

.container-0{
    margin: 60px;
}

/*.enter {
  fill: #EDCA3A;
  ["#fe0000", "#f7931e", "#f8a395", "#e41a72", "#fcd107", "#f365e7", "#a0581c", "#a90aa1", "#e6d3a5"]
  ["#ec4b18", "#f82387", "#fda547", "#f0a4b1", "#a73358", "#a75410", "#702cb4", "#dc8bfe", "#ababab"]
}*/

.selected {
  fill: #FF9999;
}

.bar {
    /*fill: #FF5349;*/
    opacity: 0.5;
}

.mainbar{
    fill: #FFFFFF;
    opacity: 0.5;
}

div.tooltip {
  color: black;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
  height: auto;
  padding: 5px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-size: 12px; ;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

div.tooltip1 {
  color: red;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
  height: auto;
  padding: 5px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-size: 12px; ;
  /*background: white;*/
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

div.tooltip1a {
  color: red;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
  height: auto;
  padding: 5px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-size: 12px; ;
  /*background: white;*/
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
 