
html {
    /*color: #222;*/
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


html{background-size: 400% 400%;
}

body{background-color: #212121;
    margin: 0px auto;

}

/*.container{
    position: relative;
    width: 40%;
    padding-right: 0px;
    padding-left: 0px;
    margin: .5em auto;
    box-sizing: border-box;
}*/

/*.chart{
    position: relative;
    width: 100%;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
    margin: .5em auto;
    box-sizing: border-box;
}*/

#header-image{
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#main{
    width: 100%;
    text-align: center;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#chart1{
    height: 100vh;
    min-height: 400px;
    text-align: center;
}

#chart2{
    height: 100vh;
    min-height: 400px;
    text-align: center;
}

#chart3{
    height: 100vh;
    min-height: 400px;
    text-align: center;
}

#container-0 {
    padding-top: 5vh;
}

#container-1{
   /* background-color: white;*/
}

#verma-img::before{
    opacity: 0.5;
}
h1 {
    font-family: poynter-oldstyle-display, serif;
    background: -webkit-linear-gradient(315deg, #bf033b 0%, #ffc719 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:3em;
}

h2 {
    font-family: futura-pt, serif;
    color: white;
    font-size:1.5em;
}

h3 {
    font-family: poynter-oldstyle-display, serif;
    font-size:1.5em;
    background: -webkit-linear-gradient(315deg, #bf033b 0%, #ffc719 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h5 {
    font-family: poynter-oldstyle-display, serif;
    background: -webkit-linear-gradient(315deg, #bf033b 0%, #ffc719 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-family: 'helvetica-neue', sans-serif;
    font-weight: 300;
    color: white;
}

.container{
    padding-top:5vh;
}

.content-title{
    width: 100%;
    height: 20%;
}

.external-links{
    font-family: questa-sans, sans-serif;
    color: white;
    float: left;
}




/*.enter {
  fill: #EDCA3A;
  ["#fe0000", "#f7931e", "#f8a395", "#e41a72", "#fcd107", "#f365e7", "#a0581c", "#a90aa1", "#e6d3a5"]
  ["#ec4b18", "#f82387", "#fda547", "#f0a4b1", "#a73358", "#a75410", "#702cb4", "#dc8bfe", "#ababab"]
  ["#d3175b", "#f15924", "#f7931e", "#feff05", "#f989a4", "#bd6cf3", "#fa37d9", "#ffd9e3", "#914c0f"]
}*/

.selected {
  fill: #FF9999;
}

.bar {
    /*fill: #FF5349;*/
}

.mainbar{
    fill: #FFFFFF;
    opacity: 0.5;
}

.lead{
    color: grey;
}

div.tooltip {
  color: black;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 400px;
  height: auto;
  padding: 5px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

div.tooltip1 {
  color: white;
  position: relative;
  text-align: left;
  width: 300px;
  height: auto;
  padding: 5px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-size: 14px; ;
  /*background: white;*/
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  line-height: 1.2;
}

#text{
    position:absolute;
}

div.tooltip1a {
  position: relative;
  text-align: left;
  width: 300px;
  height: auto;
  padding: 5px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-size: 14px; ;
  /*background: white;*/
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  line-height: 1.2;
}

div.tooltip1b {
  position: relative;
  text-align: left;
  width: 300px;
  height: auto;
  padding: 5px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-size: 14px; ;
  /*background: white;*/
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  line-height: 1.2;
}

.svg{
    text-align: center;
 }
